[submodule "plugins/collectd-haproxy"]
	path = plugins/collectd-haproxy
	url = https://github.com/mleinart/collectd-haproxy.git
[submodule "plugins/docker-collectd-plugin"]
	path = plugins/docker-collectd-plugin
	url = https://github.com/lebauce/docker-collectd-plugin.git
[submodule "plugins/collectd-elasticsearch"]
	path = plugins/collectd-elasticsearch
	url = https://github.com/signalfx/collectd-elasticsearch.git
